---
import Layout from "~/layouts/Layout.astro";
import Header from "~/components/widgets/Header.astro";
import Footer from "~/components/widgets/Footer.astro";

import {headerData, footerData} from "~/navigation";

const metadata = Astro.props.metadata;
---

<Layout metadata={metadata}>
  <slot name="header">
    <Header {...headerData} isSticky showToggleTheme />
  </slot>
  <main class="flex-1">
    <slot />
  </main>
  <slot name="footer">
    <!-- aaaaa -->
    <Footer {...footerData} />
  </slot>
</Layout>
